.site-title {
  font-weight: 300;
  span {
    font-weight: 700;
  }
}

.site-branding {
  float: left;
}

.main-navigation {
  ul {
    float: right;
  }
  li {
    display: inline-block;
    margin-left: $pad;
    margin-top: ($pad / 2);
  }
}

.active {
  text-decoration: underline;
}
