//hero

#hero {
  background: url(../img/eb-bg-ninja.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.home-hero {
  padding: $pad;
}

.home-hero--welcome {
  width: 500px;
  height: 150px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;

  p:first-child {
    text-shadow: 10px 3px 7px $text-color--alt;
    margin-bottom: $pad;
  }
}

.home-hero--bottom {
  position: absolute;
  font-size: 50px;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
}

//about

#about {
  color: $black;
  background: $body-bg--alt;
}

.home-about {
  padding: $pad 2%;
}

.home-about--content {

  p {
    margin-bottom: $pad;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

//contact

#contact {
  color: $black;
  background: $body-bg--alt;
}

.home-contact {
  padding: $pad 2%;
}

.home-contact--content {

  p {
    margin-bottom: $pad;
  }
}
